@model Task


<style>
    .input-group-append {
        cursor: pointer;
    }
</style>

<div class="container">
    <form>
        <div class="m-5"></div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Görev Başlığı</label>
            <input type="text" class="form-control">
        </div>

        @*-----------datepicker------------*@
        <div class="container shadow min-vh-100 py-2">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <label for="startDate">Başlangıç Tarihi</label>
                    <input id="startDate" class="form-control" type="date" />
                    <span id="startDateSelected"></span>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label for="endDate">Bitiş Tarihi</label>
                    <input id="endDate" class="form-control" type="date" />
                    <span id="endDateSelected"></span>
                </div>
            </div>
        </div>
        @*-----------datepicker------------*@

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



@*DatePicker için js kodları*@
<script>
    let startDate = document.getElementById('startDate')
    let endDate = document.getElementById('endDate')

    startDate.addEventListener('change', (e) => {
        let startDateVal = e.target.value
        document.getElementById('startDateSelected').innerText = startDateVal
    })

    endDate.addEventListener('change', (e) => {
        let endDateVal = e.target.value
        document.getElementById('endDateSelected').innerText = endDateVal
    })
</script>